@using Microsoft.AspNetCore.Http
@{
	var name = Context.Session.GetString("ten");
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - CustomerViews</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/CustomerViews.styles.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
</head>
<body>
	<header>
		
        <div class="header_login">
            <div class="container">
                <ul class="nav justify-content-end">
                    @if (name == null)
                    { 
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           asp-area=""
                           asp-controller="Login"
                           asp-action="DangNhap">
                        <i class="bi bi-person-bounding-box"></i> ĐĂNG NHẬP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  active" aria-current="page"
                           asp-area=""
                           asp-controller="Login"
                           asp-action="DangKy">
                         <i class="bi bi-pencil-square"></i> Đăng ký
                         </a>
                     </li>
                    }
                    
                    
                    @if(name != null)
                    {
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                        asp-area="" 
                        asp-controller="Login"
                           asp-action="DangXuat">
                        <i class="bi bi-power"></i> ĐĂNG XUẤT</a>
                        </li>
                        <li class="nav-item">
                            <p style="margin-top:7px" aria-current="page">Xin chào: @name </p>                                                         
                        </li>
                    }                   
                </ul>
            </div>
        </div>

        <div class="header_top">
            <div class="container">
                <div class="row" >
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="d-flex justify-content-center" >
                            <img src="~/img/Layer 2.png" class="item-img" alt="" width="90%" height="90%"  />
                        </div>
                    </div>
                    @if (name != null)
                    {
                        <div class="colum col-4" style="font-size: 20px">
                            <div class="d-flex justify-content-end">
                                <div class="p-2">
                                    
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-person" style="font-size:25px"></i>
                                            </a>
                                            <ul class="dropdown-menu" style="background-color:black">
                                            <li><a class="dropdown-item" asp-controller="Login" asp-action="ThongTinKhachHang">Thông tin cá nhân</a></li>
                                            <li>
                                                <a class="dropdown-item" asp-controller="Login" asp-action="ThayDoiMK">Thay đổi mật khẩu</a>
                                            </li>
                                    
                                            </ul>
                                        </div>
                                    
                                </div>
                                <div class="p-2">
                                    <a href=""><i class="bi bi-bag" style="font-size:25px"></i></a>
                                </div>
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
        </div>
        <div class="header_buttom">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                                <li class="nav-item">
                                    <a class="nav-link  active" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">TRANG CHỦ</a>
                                </li>

                                <li class="nav-item">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle"
                                        style="font-weight: bold; font-size: 14px" 
                                        type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" 
                                        aria-haspopup="true" 
                                        aria-expanded="false">
                                            SẢN PHẨM
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" 
                                            asp-area="" 
                                            asp-controller=""
                                            asp-action="">
                                            CÁC Thể loại sản phẩm</a>>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  active" aria-current="page" asp-area="" asp-controller="DichVu" asp-action="LienHe">GIỚI THIỆU</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  active" aria-current="page" asp-area="" asp-controller="DichVu" asp-action="CSKH">CHĂM SÓC KHÁCH HÀNG</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  active" aria-current="page" asp-area="" asp-controller="DichVu" asp-action="LienHe2">LIÊN HỆ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h5>GIỚI THIỆU</h5>
                    <ul>
                        <li>
                            Chào mừng bạn đến với ngôi nhà Converse! Tại đây, mỗi một dòng
                            chữ, mỗi chi tiết và hình ảnh đều là những bằng chứng mang dấu
                            ấn lịch sử Converse 100 năm, và đang không ngừng phát triển lớn
                            mạnh.
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <h5>ĐỊA CHỈ</h5>
                    <ul>
                        <li>
                            <i class="bi bi-geo-alt"></i> 43 ngách 100/193 Phú Diễn, quận
                            Bắc Từ Liêm, Hà Nội
                        </li>
                        <li><i class="bi bi-telephone"></i> 076 922 0162</li>
                        <li><i class="bi bi-envelope-open"></i> 7773@gmail.com</li>
                        <li><i class="bi bi-skype"></i> 7773</li>
                    </ul>
                </div>
                <div class="col-3">
                    <h5>HỖ TRỢ</h5>
                    <ul>
                        <li>Hướng dẫn mua hàng</li>
                        <li>Hướng dẫn thanh toán</li>
                        <li>Chính sách bảo hành</li>
                        <li>Chính sách đổi trả</li>
                        <li>Tư vấn khách hàng</li>
                    </ul>
                </div>
                <div class="col-3">
                    <h5>KẾT NỐI</h5>
                    <ul>
                        <li style="font-size: 20px">
                            <i class="bii bi-facebook"> </i>
                            <i class="bii bi-twitter"></i>
                            <i class="bii bi-youtube"></i>
                            <i class="bii bi-instagram"></i>
                            <i class="bii bi-tiktok"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
