<div class="">
    <div class="new-pro-title">
        <h1 style="margin-left:130px">SNEAKER SHOP - Thương hiệu giày số 1 Việt Nam</h1>
    </div>
    <div class="gt-text">
        <h2 style="text-align:center">CHĂM SÓC KHÁCH HÀNG</h2>
        <span>
            Làm thế nào để liên hệ với bộ phận Chăm Sóc Khách Hàng của
            <b><a href="">SNEAKER SHOP</a></b> ?
        </span><br />
        <span>
            - Gọi điện đến Hotline CSKH: 0379.200.866 (Thời gian hỗ trợ: 24/7 tất
            cả các ngày trong tuần)
        </span><br />
        <span>- Gửi email yêu cầu: <a href="">manhbtph18897@fpt.edu.vn</a></span><br />
        <div class="container">
            <span>
                <b>
                    “Lắng nghe để phát triển” thể hiện sự trân trọng của Kingshoes với
                    từng ý kiến đóng góp của Khách hàng. Lắng nghe để hiểu khách hàng,
                    nhằm đáp ứng nhu cầu nhỏ nhất và phục vụ theo cách mà Khách hàng
                    mong muốn.
                </b>
            </span><br />
        </div>
    </div>
    <div class="banner">
        <img src="/1.HomePage/img/shop-bán-giày-sneaker-chinh-hang-tai-hcm-king-shoes-authentic-real-uy-tin-nhat-2(4).jpeg"
             alt="" />
    </div>
    <br />
    <br />
    <div class="container ">
        <h3 style=" text-align:center">
            Đến với <b>"SNEAKER SHOP"</b> quý khách hàng sẽ có những sản phẩm ưng ý
            nhất, chất lượng phục vụ tốt và giá thành tốt nhất, cùng những
            <a  href="">“ Chương Trình Khuyến Mãi Đặc Biệt”</a>.
        </h3>
        <br />
    </div>
</div>

