<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CustomerViews</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/GioiThieu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CustomerViews.styles.css" asp-append-version="true" />
</head>
<div class="banner_gioiThieu">
    <div class="card text-bg-dark">
        <img src="~/img/banner-gioiThieu.jpg" class="card-img" alt="..." />
        <div class="card-img-overlay">
            <h5>GIỚI THIỆU</h5>
            <p><a href="#home">Trang chủ</a> / Giới Thiệu</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="header_GioiT">
        <div class="row">
            <div class="col-4">
                <img src="~/img/gioithieu.jpg" alt="" />
            </div>
            <div class="col-8">
                <div class="header__top">
                    <h1>GIỚI THIỆU</h1>
                    <p>
                        Chào mừng bạn đến với ngôi nhà Converse! Tại đây, mỗi một dòng chữ,
                        mỗi chi tiết và hình ảnh đều là những bằng chứng mang dấu ấn lịch sử
                        Converse 100 năm, và đang không ngừng phát triển lớn mạnh.
                    </p>
                </div>
                <div class="header__button">
                    <h1>SẢN PHẨM BÁN CHẠY NHẤT</h1>
                    <p>
                        Chào mừng bạn đến với ngôi nhà Converse! Tại đây, mỗi một dòng chữ,
                        mỗi chi tiết và hình ảnh đều là những bằng chứng mang dấu ấn lịch sử
                        Converse 100 năm, và đang không ngừng phát triển lớn mạnh.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="main_gioiT">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="row">
                    <div class="col-2"><i class="bi bi-truck"></i></div>
                    <div class="col-10">
                        <h3>Miễn phí giao hàng</h3>
                        <p>
                            Chào mừng bạn đến với ngôi nhà Converse! Tại đây, mỗi một dòng
                            chữ, mỗi chi tiết và hình ảnh đều là những bằng chứng mang dấu ấn
                            lịch sử Converse 100 năm, và đang không ngừng phát triển lớn mạnh.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-2"><i class="bi bi-hourglass-top"></i></div>
                    <div class="col-10">
                        <h3>Đổi trả trong vòng 7 ngày</h3>
                        <p>
                            Chào mừng bạn đến với ngôi nhà Converse! Tại đây, mỗi một dòng
                            chữ, mỗi chi tiết và hình ảnh đều là những bằng chứng mang dấu ấn
                            lịch sử Converse 100 năm, và đang không ngừng phát triển lớn mạnh.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-2"><i class="bi bi-newspaper"></i></div>
                    <div class="col-10">
                        <h3>Sản phẩm mới 100%</h3>
                        <p>
                            Chào mừng bạn đến với ngôi nhà Converse! Tại đây, mỗi một dòng
                            chữ, mỗi chi tiết và hình ảnh đều là những bằng chứng mang dấu ấn
                            lịch sử Converse 100 năm, và đang không ngừng phát triển lớn mạnh.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-2"><i class="bi bi-chat-text"></i></div>
                    <div class="col-10">
                        <h3>Chăm sóc khách hàng</h3>
                        <p>
                            Chào mừng bạn đến với ngôi nhà Converse! Tại đây, mỗi một dòng
                            chữ, mỗi chi tiết và hình ảnh đều là những bằng chứng mang dấu ấn
                            lịch sử Converse 100 năm, và đang không ngừng phát triển lớn mạnh.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-2"><i class="bi bi-exclamation-circle"></i></div>
                    <div class="col-10">
                        <h3>Hàng chính hãng</h3>
                        <p>
                            Chào mừng bạn đến với ngôi nhà Converse! Tại đây, mỗi một dòng
                            chữ, mỗi chi tiết và hình ảnh đều là những bằng chứng mang dấu ấn
                            lịch sử Converse 100 năm, và đang không ngừng phát triển lớn mạnh.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-2"><i class="bi bi-credit-card"></i></div>
                    <div class="col-10">
                        <h3>Thanh toán đa dạng</h3>
                        <p>
                            Chào mừng bạn đến với ngôi nhà Converse! Tại đây, mỗi một dòng
                            chữ, mỗi chi tiết và hình ảnh đều là những bằng chứng mang dấu ấn
                            lịch sử Converse 100 năm, và đang không ngừng phát triển lớn mạnh.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>