
<div class="container">
    <div class="new-pro-title">
        <h1 style="margin-left:130px">SNEAKER SHOP - Thương hiệu giày số 1 Việt Nam</h1>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 gt-text-span">
            <div>
                <span>
                    Cửa hàng SNEAKER SHOP đặt tại  43 ngách 100/193 Phú Diễn, quận Bắc Từ Liêm, Hà Nội là cửa hàng cung cấp
                    giày , dép , phụ kiện thể thao chính hãng với hơn 5 năm kinh nghiệm
                    trong lĩnh vực bán buôn , phân phối và bán lẻ hàng hóa trong lĩnh
                    vực giày , dẹp và các sản phẩm phụ kiện thời trang.
                </span><br /><br />
            </div>

            <span>
                Giầy dép là một trong những phụ kiện không thể thiếu góp phần tạo nên
                phong cách thời trang của mỗi người. Chính vì điều đó SNEAKER SHOP mong
                muốn đem đến những mẫu giầy mới nhất được cập nhật thường xuyên giúp
                các bạn dễ dàng hơn trong việc lựa chọn và cập nhật những style thịnh
                hành của thời trang giầy dép trong nước và thế giới.
            </span><br /><br />

            <span>
                Trong hơn 5 năm 2017-2022 chúng tôi hãnh diện là nhà phân phối , bán
                lẻ hàng chính hãng có tiếng ở VN , đã cung cấp rất nhiều sản phẩm cho
                người nổi tiếng , các cửa hàng có tiếng và mang đến quý khách hàng sản
                phẩm chính hãng , hơn thế nữa cung cấp chế độ đổi theo giúp cho quý
                khách yên tâm sử dụng sản phẩm.
            </span><br /><br />

            <span>
                Chúng tôi hân hạnh là một trong những SNEAKER SHOP đầu tiên ở Hà Nội
                nói riêng và Việt Nam nói chung (thành lập SNEAKER SHOP vào 3/2014) có
                hàng hóa đa dạng với giày , dép , túi ... sẵn sàng phục vụ quý khách
                nhanh chóng thông qua việc bán tại cửa hàng tại 43 ngách 100/193 Phú Diễn, quận Bắc Từ Liêm 
                Hà Nội và đặt hàng online trên website.
            </span><br /><br />

            <span>
                Cuối cùng cửa hàng SNEAKER SHOP rất cảm ơn sự ủng hộ của quý khách đối
                với cửa hàng chúng tôi trong thời gian qua. Cửa hàng SNEAKER SHOP chúng
                tôi cam kết sẽ luôn cố gắng hết sức mình để cung cấp cho quý khách
                hàng dịch vụ và sản phẩm tốt nhất.
            </span><br /><br />

            <div style="text-align: center">
                <h3>CẢM ƠN QUÝ KHÁCH HÀNG ĐÃ TIN TƯỞNG CHÚNG TÔI</h3>
            </div>
            <br />
        </div>
    </div>
</div>

