@model CustomerViews.Models.LoginRequest

@{
    ViewData["Title"] = "Login";
    var thongbao = ViewData["loginfalse"] as string;
    var dangkythanhcong = ViewData["dangkythanhcong"] as string;
}

    <div class="main">
        <div class="main">
            <div class="container">
                <h1 style="color:red;text-align:center;margin-bottom:20px">@dangkythanhcong</h1>
                <form name="formLogin" method="get" asp-controller="Login" asp-action="CheckDangNhap">
                    <div class="login" style="text-align : center">
                        <div class="login-title"><h1>Đăng nhập</h1></div>
                        <div class="mb-3 row">
                            <div class="col-sm-2"></div>
                            <label for="" class="col-sm-2 col-form-label">Nhập tài khoản</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="Email" />
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-sm-2"></div>
                            <label for="" class="col-sm-2 col-form-label">Nhập mật khẩu</label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control" name="MatKhau" />
                            </div>
                        </div>
                        @if (thongbao != null)
                        {
                                <div style="text-align: center; color:red">@thongbao</div>
                        }
                        <button type="submit" class="btn btn-success">
                            Đăng nhập hệ thống
                        </button>
                        <div class="dangKy">
                            <a asp-controller="Login" asp-action="DangKy">Bạn chưa có tài khoản? Đăng ký ngay</a>
                        </div>
                        <div class="quenMK">
                            <a asp-controller="Login" asp-action="QuenMK">Bạn quên mật khẩu ?</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

