@model CustomerViews.Models.ThayDoiMKRequest

@{
    ViewData["Title"] = "DoiMK";
    var check = ViewData["check"] as string;
    var loidmk = ViewData["loidmk"] as string;
    var thanhcong = ViewData["thanhcong"] as string;
}

<div style="text-align:center"><h1>Đổi mật khẩu</h1></div>



<hr />
<div class="row" style="text-align:center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="ThayDoiMK">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
               <label>Nhập số điện thoại</label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Nhập lại mật khẩu cũ</label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Nhập mật khẩu mới</label>
                <input asp-for="MatKhauMoi" class="form-control" />
                <span asp-validation-for="MatKhauMoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Nhập lại mật khẩu mới</label>
                <input asp-for="NhapLaiMkm" class="form-control" />
                <span asp-validation-for="NhapLaiMkm" class="text-danger"></span>
            </div>
            @if (check != null)
            {
                <div style="text-align: center; color:red">@check</div>
            }
            @if (loidmk != null)
            {
                <div style="text-align: center; color:red">@loidmk</div>
            }
            <div class="form-group">
                <input type="submit" value="Thay đổi mật khẩu" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
