@using Data.ModelsClass

@model _1_API.ViewModel.SanPham.UpdateSanPham

@{
    ViewData["Title"] = "Edit";
    var lstHang = ViewData["ListHang"] as List<Hang>;
    var lstSp = ViewData["ListSanPham"] as List<SanPham>;
}

<h1>Cập Nhật</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdHang" class="control-label">Hãng</label>
                <select asp-for="IdHang" class="form-select">
                    @foreach (var item in lstHang)
                    {
                        <option value="@item.Id">
                            @item.TenHang
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Ten" class="control-label">Tên Sản Phẩm</label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TrangThai" class="control-label">Trạng thái</label>
                <select asp-for="TrangThai" class="form-select">
                    <option value="1" selected>Đang hoạt động</option>
                    <option value="0">Ngưng hoạt động</option>
                </select>
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
